name: Build, Push Docker & Deploy to EC2

on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/npm-hello-app:latest .

      - name: Push an Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/npm-hello-world:latest
          
      - name: Deploy to EC2 via SSH (Docker)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/hello-world || exit 1

            sudo chown -R ec2-user:ec2-user /home/ec2-user/hello-world
            git config --global --add safe.directory /home/ec2-user/hello-world

            git pull origin main

            sudo docker stop npm-app || true
            sudo docker rm npm-app || true

            sudo docker rmi npm-hello-app || true

            sudo docker build -t npm-hello-app .

            sudo docker run -d \
                -p 3000:3000 \
                --name npm-app \
                npm-hello-app
